<div class="flip-container" [class.flip]="showReponse" (click) ="flip()">
  <div class="flipper">
    <div class="front">
      {{card.question}}
    </div>
    <div class="back">
      {{card.reponse}}
      <br>
      <button class="btn btn-success m-2" (click)="setReponse(true)">vrais</button>
      <button class="btn btn-danger m-2" (click)="setReponse(false)">faux</button>
    </div>
  </div>
</div>
