<div>
  <div *ngFor="let card of web.cards ">
   <app-flashcard-detail [card]="card" (reponse)="saveReponse($event) " ></app-flashcard-detail>
  </div>
</div>
<div class="card" *ngIf="web.allCardsReponse">
  <div class=" card-body d-flex justify-content-center">
    <button class="btn btn-danger m-2" (click)="reset()">Redamarrer</button>
    <button class="btn btn-success m-2" (click)="saveAll()" >Enregistrer</button>
  </div>
</div>
