.flip-container {
  perspective: 400px;
  margin: 15px;
}

/* flip the pane when flip css class programmatically added */
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 350px;
  height: 150px;
  margin-bottom: 3rem;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: white;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-color: brown;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: rgb(42, 110, 165);
}
